.container {
    min-width: 500px;
    max-height: 80%;

    .author {
        font-size: 30px;
        text-align: center;
    }

    .picture {
        display: flex;
        width: 100%;
        justify-content: center;

        img {
            height: 300px;
            object-fit: contain;
        }
    }
}
