.container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;
  color: #3f51b5;
}

.search-container {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
  width: 100%;
  justify-content: center;

  mat-form-field {
    width: 30%;
  }

  .searchBtn {
    height: 54px;
    font-size: 15px;
    border-radius: 10px;
  }
}

table {
  width: 100%;

  td {
    cursor: pointer;
  }
}

.loader {
  margin-top: 200px;
}